*{
	margin: 0 0px;
	padding: 0;
}

.box{
	padding: 0 px;
	margin: 0 auto;
	font-size: 0;
	letter-spacing: -3px;
}
.box1{
	width: 100%;
	height: 600px;
	background-color: aqua;

}
.box2{
	width: 100%;
	height: 80px;
	background-color: cornflowerblue;
}
.box3{
	width: 100%;
	height: 40px;
	background-color: cornflowerblue;
	display: flex;
}
.box4{
	width: 15%;
	height: 600px;
	display: inline-block;
	background-color: chartreuse;
}
.box4-R{
	width: 15%;
	height: 600px;
	display: inline-block;
	background-color: chartreuse;
	float: right;
}
.box5{
	width: 85%;
	height: 600px;
	background-color: aqua;
	float: right;
	display: inline-block;
}
.box6{
	width: 100%;
	height: 50px;
	background-color: green;
}
.newbox5{
	width: 70%;
	height: 600px;
	background-color: aqua;
	float: none;
	display: inline-block;
}